@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');


input {
	background-color: transparent !important;
}
header {
	font-family: 'Roboto Mono', monospace;
}
label {
	font-family: 'Lora', serif;
} 
#register {
	display: flex;
	align-items: center;
}
#form-box {
	border-radius: 15px;
	background-color: #f4f4f4;
	box-shadow: 2px 2px 2px #dcdcdc;
}
a{
	text-decoration: none;
}