<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no user-scalable=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon/favicon.ico') }}" />

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='icon/apple-touch-icon.png') }}" />

    <link rel="icon" type="image/png" sizes="180x180" href="{{ url_for('static', filename='icon/favicon-32x32.png') }}" />

    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='icon/favicon-16x16.png') }}" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>Admin Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
</head>

<body>
    <div class="d-flex justify-content-center" id="wrapper">
      <div class="row justify-content-center">
        <!-- Sidebar -->
               <div class="col-auto">
              <h1>Create Notification</h1>
          </div>
          <div class="col-12">
              <form action="{{url_for('verify_add_notification')}}" method="POST">
                  <div class="mb-3">
                      <label for="title" class="form-label">User(s)</label
              >
              <select name="users" id="plan" required class="form-select">
                  <option value="all" selected>All Users</option>
                  {% for user in users %}
                  <option value="{{user.id}}">{{user.name}}({{user.email}})</option>
                  {% endfor %}
             </select>
            </div>
            <div class="mb-3">
              <label for="months" class="form-label"
                >Lead Name</label
              >
              <input maxlength="50"
                type="text"
                class="form-control"
                id="months"
                name="name"
                minlength="1"
                required
              />
            </div>
            <div class="mb-3">
              <label for="months" class="form-label"
                >subject</label
              >
              <input
                type="text"
                class="form-control"
                id="months"
                name="subject"
                minlength="1"
                required
              />
            </div>
             <div class="mb-3">
              <label for="months" class="form-label"
                >body</label
              >
              <input placeholder="Write Body Here." class="form-control" id="detail" rows="3" required minlength="1" name="body" />
            </div>

            </div>
          <div class="col-auto">
              <a href="{{url_for('admin_notifications')}}" class="btn btn-secondary m-1">Cancel</a>
          </div>
          <div class="col-12">
              <button type="submit" class="btn btn-primary m-1 w-100" onclick="return confirm('Are you sure you want to Save?');">&nbsp;Save&nbsp;&nbsp;</button>
          </div>
          </form>
          </div>
        </div>
      <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->


    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>


    </script>
  </body>
</html>