<!DOCTYPE html>
<html>
<head>
	<title>Pay With PayPal - Yearly Subscription</title>
</head>
<body>

	<h1 style="width: 100vw; text-align: center;">Yearly Subscription $199/Annum</h1>
<div id="paypal-button-container"></div>
<script src="https://www.paypal.com/sdk/js?client-id=AaOOCIHtZSvPqyYkY682MbONErwnJ2_t1JuDhajur6KOFyuA7tXiyRcBMW1Qu4BzW2cegJo7Ylyytetu&vault=true&intent=subscription" data-sdk-integration-source="button-factory"></script>
<script>
  paypal.Buttons({
      style: {
          shape: 'pill',
          color: 'gold',
          layout: 'vertical',
          label: 'subscribe'
      },
      createSubscription: function(data, actions) {
        return actions.subscription.create({
          'plan_id': 'P-4BG58714KW7340259MA4ATUY'
        });
      },
      onApprove: function(data, actions) {
        alert(data.subscriptionID);
      }
  }).render('#paypal-button-container');
</script>
<h2 style="width: 100vw; text-align: center;" ><a href="{{url_for('pay_monthly')}}" style=" text-decoration: none;">Subscribe Monthly</a></h2>
</body>
</html>